<h2><%= @emailtemplate.new_record? ?
            l(:emailtemplate_new) :
            l(:emailtemplate_edit) %></h2>
<%= error_messages_for @emailtemplate %>


<%= labelled_form_for @emailtemplate do |f| %>
    <div class="box tabular">
      <fieldset>
      <div>
       <p>
       	 <label for = "project_id"> Project </label>
          <%= f.collection_select :project_id, Project.all, :id, :name, {:selected => @project.id}  %>
       </p>
       	
       <div class="c">

        <p >
          	<%= f.text_field :email %>
        </p>
       
       	<p>
       		<%= f.text_field :subject %>
        </p>
        <p>
        	<%= f.text_area :body %>
        </p>
        </div>
        <p>
        <label for = "issue_statuse"> Status to </label>
          <%= f.collection_select :issue_statuse_id, IssueStatus.all, :id, :name  %>
        </p>


        <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel), emailtemplates_path %>
      </fieldset>
    </div>
<% end %>