<div class="contextual">
  <%= link_to l(:label_emailtemplate_new),
              {:action => 'new'},
              :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_emailtemplate)%></h2>

<table class="list templates">
  <thead>
  <tr>
    <th><%=l(:email)%></th>
    <th><%= l(:subject) %></th>
    <th><%= l(:status) %></th>
   
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @emailtemplates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="templates-title"><%= link_to h(template.email),
                                                      { :action => :edit, :id => template.id } %></td>
        <td class="templates-content"><div><%= simple_format h(template.subject) %></div></td>
        <td class="templates-status"><div><%= simple_format h(IssueStatus.find(template.issue_statuse_id).name) %>
        </div></td>

        <td class="buttons">
          <%= link_to l(:button_edit),
                      {
                          :controller => 'emailtemplates',
                          :action => 'edit',
                          :id => template.id
                      },
                      :class => 'icon icon-edit' %>
          <%= link_to l(:button_delete),
                      {
                          :controller => 'emailtemplates',
                          :action => 'destroy',
                          :id => template.id
                      },
                      :method => :delete,
                      :confirm => l(:text_are_you_sure),
                      :class => 'icon icon-del' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

